shadowsocks = 128.276.188.717:443, method = aes-256-cfb, password = amazonskr05, fast-open = false, tag = Hãy cập nhật server thường xuyên
shadowsocks = 128.276.188.717:443, method = aes-256-cfb, password = amazonskr05, fast-open = false, tag = Phiên bản (QX): v1.1.2
shadowsocks = 128.276.188.717:443, method = aes-256-cfb, password = amazonskr05, fast-open = false, tag = Cập nhật 19/5/2023 21:20
shadowsocks = 128.276.188.717:443, method = aes-256-cfb, password = amazonskr05, fast-open = false, tag = Telegram: @KadenMegarimi
trojan = gmvip01.csadata4g.me:443, password = e505ff62-bc60-4113-b922-b40919396462, over-tls = true, tls-host = dl.kgvn.garenanow.com, tls13 = false, fast-open = false, udp-relay = true, tls-verification = true, tag = Vietnam, HoChiMinh (LKTeamShare)
trojan = gmloadip0.csadata4g.me:443, password = e505ff62-bc60-4113-b922-b40919396462, over-tls = true, tls-host = dl.kgvn.garenanow.com, tls13 = false, fast-open = false, udp-relay = true, tls-verification = true, tag = Vietnam, HoChiMinh2 (LKTeamShare)
vmess = 103.122.163.39:80, method = chacha20-ietf-poly1305, password = 6afb4445-60fc-44eb-ab38-a5e2a9fb90f3, aead = true, tls13 = false, obfs = ws, obfs-host = {"host":"dl.kgvn.garenanow.com"}, obfs-uri = /vpn5sao.com, fast-open = false, tag = Vietnam, Hanoi (LKTeamShare)
trojan = singvip1.csadata4g.me:443, password = e505ff62-bc60-4113-b922-b40919396462, over-tls = true, tls-host = dl.kgvn.garenanow.com, tls13 = false, fast-open = false, udp-relay = true, tls-verification = true, tag = Singapore1 (LKTeamShare)
shadowsocks = ak1752.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:808, method = chacha20-ietf-poly1305, password = G!yBwPWH3Vao, fast-open = false, tag = Singapore2 (LKTeamShare)
shadowsocks = ak1746.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:9102, method = aes-256-gcm, password = e4FCWrgpkji3QY, fast-open = false, tag = Germany (LKTeamShare)
shadowsocks = ak1749.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:4444, method = aes-256-gcm, password = pKEW8JPByTVTLtM, fast-open = false, tag = UnitedKingdom (LKTeamShare)
shadowsocks = ak1744.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:6697, method = aes-256-gcm, password = TEzjfAYq2IjtuoS, fast-open = false, tag = UnitedStates (LKTeamShare)
shadowsocks = ak1745.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:443, method = aes-256-gcm, password = pKEW8JPByTVTLtM, fast-open = false, tag = Canada (LKTeamShare)
shadowsocks = ak1739.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:8000, method = aes-256-gcm, password = KixLvKzwjekG00rm, fast-open = false, tag = France (LKTeamShare)
