shadowsocks = 128.276.188.717:443, method = aes-256-cfb, password = amazonskr05, fast-open = false, tag = Hãy cập nhật server thường xuyên
shadowsocks = 128.276.188.717:443, method = aes-256-cfb, password = amazonskr05, fast-open = false, tag = Phiên bản (QX): v1.1.2
shadowsocks = 128.276.188.717:443, method = aes-256-cfb, password = amazonskr05, fast-open = false, tag = Cập nhật 7/5/2023 23:55
shadowsocks = 128.276.188.717:443, method = aes-256-cfb, password = amazonskr05, fast-open = false, tag = Telegram: @KadenMegarimi
trojan = gmvip02.csadata4g.me:443, password = e505ff62-bc60-4113-b922-b40919396462, over-tls = true, tls-host = dl.kgvn.garenanow.com, tls13 = false, fast-open = false, udp-relay = true, tls-verification = true, tag = Vietnam, HoChiMinh (LKTeamShare)
trojan = gmloadip0.csadata4g.me:443, password = e505ff62-bc60-4113-b922-b40919396462, over-tls = true, tls-host = dl.kgvn.garenanow.com, tls13 = false, fast-open = false, udp-relay = true, tls-verification = true, tag = Vietnam, HoChiMinh2 (LKTeamShare)
vmess = 103.122.163.39:80, method = chacha20-ietf-poly1305, password = d74dbab8-1c01-49c9-be3c-1e44b3a9b648, aead = true, tls13 = false, obfs = ws, obfs-host = {"host":"dl.kgvn.garenanow.com"}, obfs-uri = /vpn5sao.com, fast-open = false, tag = Vietnam, Hanoi (LKTeamShare)
vmess = 139.162.20.238:80, method = chacha20-ietf-poly1305, password = d74dbab8-1c01-49c9-be3c-1e44b3a9b648, aead = true, tls13 = false, obfs = ws, obfs-host = {"host":"dl.kgvn.garenanow.com"}, obfs-uri = /vpn5sao.com, fast-open = false, tag = Singapore1 (🛑 Lỗi, bảo trì)
trojan = singvip1.csadata4g.me:443, password = e505ff62-bc60-4113-b922-b40919396462, over-tls = true, tls-host = dl.kgvn.garenanow.com, tls13 = false, fast-open = false, udp-relay = true, tls-verification = true, tag = Singapore2 (LKTeamShare)
shadowsocks = ak1752.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:808, method = chacha20-ietf-poly1305, password = G!yBwPWH3Vao, fast-open = false, tag = Singapore3 (LKTeamShare)
vmess = 152.69.197.74:12345, method = chacha20-ietf-poly1305, password = b8a6bf58-485a-4046-b386-b3661bf65eff, aead = true, tls13 = false, obfs = ws, obfs-uri = /bb, obfs-host = 152.69.197.74, fast-open = false, tag = Japan1 (LKTeamShare)
shadowsocks = ak1746.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:9102, method = aes-256-gcm, password = e4FCWrgpkji3QY, fast-open = false, tag = Germany (LKTeamShare)
vmess = 51.75.74.253:10000, method = chacha20-ietf-poly1305, password = df05adba-e5fb-11ed-a1bd-5fee106af88d, aead = true, tls13 = false, obfs = ws, obfs-uri = /vpnjantit, obfs-host = 51.75.74.253, fast-open = false, tag = Germany2 (LKTeamShare)
vmess = hk2.c2bfe79372be.sanfen004.me:443, method = chacha20-ietf-poly1305, password = 30ba67cf-776c-48be-8bb5-578878830228, aead = true, tls13 = true, obfs = wss, obfs-host = www.microsoft.com, obfs-uri = /zh-cn, fast-open = false, tag = Hong Kong (LKTeamShare)
shadowsocks = ak1749.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:4444, method = aes-256-gcm, password = pKEW8JPByTVTLtM, fast-open = false, tag = UnitedKingdom (LKTeamShare)
vmess = vuk1.0bad.com:443, method = chacha20-ietf-poly1305, password = 927094d3-d678-4763-8591-e240d0bcae87, aead = true, tls13 = true, obfs = wss, obfs-host = {"host":"\"vuk1.0bad.com\""}, obfs-uri = /chat, fast-open = false, tag = UnitedKingdom2 (LKTeamShare)
shadowsocks = ak1744.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:6697, method = aes-256-gcm, password = TEzjfAYq2IjtuoS, fast-open = false, tag = UnitedStates (LKTeamShare)
shadowsocks = ak1745.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:443, method = aes-256-gcm, password = pKEW8JPByTVTLtM, fast-open = false, tag = Canada (LKTeamShare)
shadowsocks = ak1739.www.outline.network.fr8678825324247b8176d59f83c30bd94d23d2e3ac5cd4a743bkwqeikvdyufr.cyou:8000, method = aes-256-gcm, password = KixLvKzwjekG00rm, fast-open = false, tag = France (LKTeamShare)
